<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DjangoSite - Enquetes</title>
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.6/build/pure-min.css" integrity="sha384-Uu6IeWbM+gzNVXJcM9XV3SohHtmWE+3VGi496jvgX1jyvDTXfdK+rfZc8C1Aehk5" crossorigin="anonymous">
</head>
<body>
    <div id="body" style="width:1200px; margin-left: auto; margin-right: auto;">
        <div class="pure-menu pure-menu-horizontal">
            <a href="{% url 'curso:index' %}" class="pure-menu-heading pure-menu-link">ENQUETES - DjangoSite</a>
            <ul class="pure-menu-list">
                <li class="pure-menu-item">
                    <a href="{% url 'curso:index' %}" class="pure-menu-link">Cursos</a>
                </li>
                <li class="pure-menu-item">
                    <a href="{% url 'enquete:index' %}" class="pure-menu-link">Enquetes</a>
                </li>
                <li class="pure-menu-item">
                    <a href="{% url 'enquete:allresults' %}" class="pure-menu-link">Resultados</a>
                </li>
                <li class="pure-menu-item">
                    <a href="{% url 'curso:contact' %}" class="pure-menu-link">Contato</a>
                </li>
            </ul>
        </div>
        <div class="">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</body>
</html>