{% extends './base.html' %}
{% block content %}
{% if latest_question_list %} 
    <ul class="">
        {% for question in latest_question_list %} 
        <!-- Inserindo URL codificada do template diretamente
        <li><a href="/enquete/{{ question.id }}">{{ question.question_text }}</a></li>-->

        <!-- Removendo URLs codificadas pela tag %url% namespace:template-->
        <li>
            <a class="" href="{% url 'enquete:detail' question.id %}">{{ question.question_text }}</a>
        </li>
        {% endfor %} 
    </ul>
{% else %} 
    <p>Não há enquetes disponíveis.</p>
{% endif %} 
{% endblock %}