{% extends './base.html' %}
{% block content %} 
<div class="content">
    {% if cursos %}
    <h3>Cursos disponíveis</h3>
    {% endif %} 
    <ul>
        {% for c in cursos %} 
        <li>
            {% if c.image %} 
            <img class="pure-image" src="{{ c.image.url }}">
            {% endif %} 
            <h4><a href="{% url 'curso:detail' c.slug %}">{{ c.name }}</a></h4>
            <div>{{ c.description|linebreaks }}</div>
        </li>
        {% empty %} 
        <h3>Nenhum curso disponível na plataforma!</h3>
        {% endfor %} 
    </ul>
</div>
{% endblock %} 

