{% if latest_question_list %} 
    <ul>
        {% for question in latest_question_list %} 
        <!-- Inserindo URL codificada do template diretamente
        <li><a href="/enquete/{{ question.id }}">{{ question.question_text }}</a></li>-->

        <!-- Removendo URLs codificadas pela tag %url% namespace:template-->
        <li><a href="{% url 'enquete:detail' question.id %}">{{ question.question_text }}</a> || 
            <a href="{% url 'enquete:results' question.id %}">Resultados</a></li>
        {% endfor %} 
    </ul>
{% else %} 
    <p>Não há enquetes disponíveis.</p>
{% endif %} 