{% extends 'user/panel.html' %} 

{% block breadcrumb %} 
    {{ block.super }}
    / <a href="{% url 'user:edit_user' %}">Editar Conta</a></li>
{% endblock %} 

{% block panel_content %} 
<div class="pure-u-1-2">
    <form class="pure-form pure-form-stacked" action="." method="POST">
        {% csrf_token %} 
        <fieldset>
            <legend>Editar Conta</legend>
            {{ form.non_field_errors }}
            {% for field in form %} 
            <div class="pure-control-group">
                {{ field.label_tag }}
                {{ field }}
                {{ field.errors }}
            </div>
            {% endfor %} 
        </fieldset>
        <div class="pure-controls">
            <button class="pure-button pure-button-primary" type="submit">Salvar</button>
        </div>
    </form>
</div>
{% endblock %} 
