{% extends 'user/panel.html' %} 
{% block breadcrumb %} 
    {{ block.super }}
    / <a href="{% url 'user:edit_password' %}">Alterar Senha</a></li>
{% endblock %} 

{% block panel_content %} 
<form class="pure-form pure-form-stacked" action="." method="POST">
    {% csrf_token %} 
    <fieldset>
        <legend>Alterar Senha</legend>
        {{ form.non_field_errors }}
        {% for field in form %} 
        <div class="pure-control-group">
            {{ field.label_tag }}
            {{ field }}
            {{ field.errors }}
        </div>
        {% endfor %} 
    </fieldset>
    <button class="pure-button pure-button-primary" type="submit">Salvar</button>
</form>
{% endblock %} 